<% @comment.each do |comment| %>
  <div class="booyah-box col-10 offset-1">
    <h1><%= comment.name %></h1><br />
    <i><%= comment.address %></i><br />
    <p><%= comment.description %></p><br />
  </div>

  <hr />
<% end %>