@import "bootstrap";

h1{
  font-family: sans-serif;
  font-weight: bolder;
  font-size: 60px;
  color: #DE8B14;
}

h2 {
  font-family: serif;
  font-weight: inherit;
  font-size: 28px;
}

header {
  border-top: 15px solid #222222;
}


p{
  color: red;

}