<h1> Welcome to my Static Web Page</h1>

<h2> This has been a very challenging three weeks to say the least. I started this coarse with absolutely no web developement background at all. I have tried to get a positive outlook during the whole process. Somedays have proved more challenging than others!! I look forward to continue growth and knowledge while in this coarse.</h2>

<p>This would be a static home page in a Rails application.</p>